@page
@model RegisterModel
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager
        @{
        ViewData["Title"] = "Register";
        }
        <header id="header" class="alt">
            <a asp-page="/Index">
                <h1 style="color:#2c3e50;"><strong>Bordbestilling</strong> by Team 10</h1>
            </a>
            <nav id="nav">
                <ul>
                    @if (SignInManager.IsSignedIn(User))
                    {
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new {
                        area="" })" method="post" id="logoutForm" class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Logged in as
                                    @UserManager.GetUserName(User)!</a>
                            </li>
                            <li>
                                <button type="submit" class="btn btn-link navbar-btn navbar-link">Logg ut</button>
                            </li>
                        </ul>
                    </form>
                    }
                    else
                    {
                    <li><a asp-area="Identity" asp-page="/Account/Login" class="button small">Logg inn</a></li>
                    <li><a asp-area="Identity" asp-page="/Account/Register" class="button special small">Register
                            deg</a>
                    </li>
                    }
                </ul>
            </nav>
        </header>

        <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

        <section id="main" class="wrapper">
            <div class="container" style="text-align: center;">
                <h3 class="titleAuth">Registrer deg</h3>

                <div style="display:inline-block;">
                    <section>
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div class="row uniform">
                                <div class="12u$">
                                    <input asp-for="Input.Email" placeholder="Email" />
                                </div>
                                <div class="12u$">
                                    <input asp-for="Input.Password" placeholder="Password" />
                                </div>
                                <div class="12u">
                                    <input asp-for="Input.ConfirmPassword" placeholder="Re-enter password" />
                                </div>
                                <div class="12u">
                                    <ul class="actions">
                                        <li><input type="submit" value="Register" class="special" /></li>
                                    </ul>
                                    <p>Har du allerede en bruker? <a href="Login">Logg inn her</a></p>
                                </div>
                            </div>
                            <div asp-validation-summary="All"
                                style="padding: 1rem!important; margin-bottom: .5rem!important;float: center!important; text-align: center;">
                            </div>
                </div>
                </form>
        </section>
        </div>
        </div>
        </section>

        @section Scripts {
        <partial name="_ValidationScriptsPartial" />
        }